.bg-color {
  /* background-color: rgb(240, 240, 240); */
  background-image: url('../images/sky.jpg');
  background-repeat: no-repeat;
  /* background-color: #cccccc; */
  background-size: cover;
}

.intro {
  /* background-color: #ece49a; */
  /* opacity: 0.7; */
  background-color: rgba(10, 10, 10, 0.3);
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 15px 20px 15px;
  height: 23vh;
  border: 1px solid white;
}

.intro:hover {
  box-shadow: 2px 4px 5px #e8f1f5;
}

.intro h2 {
  padding-top: 10px;
}
.intro h4,
h2,
p {
  margin-left: 40px;
  margin-right: 40px;
  color: rgb(230, 230, 230);
  text-shadow: 2px 2px black;
}

footer {
  height: 75px;
  background: rgb(245, 245, 245);
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .intro {
    height: 30vh;
  }
}
